<% if user %>
  <form action="<%= session_url %>" method="post">
    <%= form_auth %>
    <input type="hidden" name="_method" value="delete">
    <input class="submit-button" type="submit" value="Log Out">
  </form>
<% else %>
  <form action="<%= new_session_url %>" method="get">
    <%= form_auth %>
    <input class="submit-button" type="submit" value="Log In">
  </form>
  <br>
  <form action="<%= new_user_url %>" method="get">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input class="submit-button" type="submit" value="Sign Up">
  </form>
<% end %>