<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <header>
    <div class="logo">
      <img src="<%= asset_path "music-logo-design-1024x860.jpg"%>" alt="Picture"/>
      <h1>Amplify</h1>
    </div>
    <div class="welcome">
      <% if current_user %>
        <h2> Welcome <%= current_user.email %>! 
      <% end %>
          <%= render "helper_views/log_button", user: current_user %>
        </h2>
      <%= render plain: flash[:errors] %>
    </div>
  </header>
  <content>
    <%= yield %>
  </content>
</body>
  
  <footer>Amplify: Rock on</footer>
</html>
